svg {
	overflow: hidden;
}

#sidebar {
	vertical-align: top;
	display: inline-block;
	z-index: 9999;
	height: 100vh;
	width: 15%;
	background: #000;
	border-right: 2px gainsboro solid;
	#login-buttons {
		display: block;
		background: gainsboro;
		padding: 20px;
		height: 55px;
		font-size: 20px;
		a {
			text-decoration: none;
		}
	}
	.sidebar_tooltip {
		color: white;
		font-size: 15px;
		padding: 10px;
	}
}

#focus {
	display: none;
	width: 600px;
	height: 600px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -300px 0 0 -300px;
	z-index: 9999;
	.hex {
	  position: relative;
	  width: 450px; 
	  height: 259.81px;
	  margin: 129.90px 0;
	}

	.hex:before,
	.hex:after {
	  content: "";
	  position: absolute;
	  width: 0;
	  border-left: 225px solid transparent;
	  border-right: 225px solid transparent;
	}

	.hex:before {
	  bottom: 100%;
	  border-bottom: 129.90px solid;
	}

	.hex:after {
	  top: 100%;
	  width: 0;
	  border-top: 129.90px solid;
	}

	.grass {
	  background-color: #72B248;
	}
	.grass:before {
	  border-bottom-color: #72B248;
	}
	.grass:after {
	  border-top-color: #72B248;
	}

	.water {
	  background-color: #5BC4AF;
	}
	.water:before {
	  border-bottom-color: #5BC4AF;
	}
	.water:after {
	  border-top-color: #5BC4AF;
	}

	.ground {
	  background-color: #563C29;
	}
	.ground:before {
	  border-bottom-color: #563C29;
	}
	.ground:after {
	  border-top-color: #563C29;
	}

	.stone {
	  background-color: #807171;
	}
	.stone:before {
	  border-bottom-color: #807171;
	}
	.stone:after {
	  border-top-color: #807171;
	}

	.forest {
	  background-color: #3D6C20;
	}
	.forest:before {
	  border-bottom-color: #3D6C20;
	}
	.forest:after {
	  border-top-color: #3D6C20;
	}

	.sand {
	  background-color: #F7B624;
	}
	.sand:before {
	  border-bottom-color: #F7B624;
	}
	.sand:after {
	  border-top-color: #F7B624;
	}

}

.d3-context-menu {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  min-width: 150px;
  border: 1px solid #d4d4d4;
  z-index: 1200;
}

.d3-context-menu ul {
  list-style-type: none;
  margin: 4px 0px;
  padding: 0px;
  cursor: pointer;
}

.d3-context-menu ul li {
  padding: 4px 16px;
}

.d3-context-menu ul li:hover {
  background-color: black;
  color: white;
}

.claimed {
	stroke: white;
}

.hovered {
	stroke: red;
	stroke-width: 5px;
}

.wall {
	/*stroke: white;*/
	stroke-width: 12px;
	stroke-linecap: round;
	fill: none;
}

.hidden {
	display: none;
}

.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }